#header {
    position: relative;
    width: 100%;
    z-index: 1001;
    .container {
      max-width: 100%;
      padding: 0;
    }
    .top-bar {
        background-color: #10793d;
        position: relative;
        z-index: 9;
        padding: 8px 0;
        line-height: 14px;
      
        ul {
          display: flex;
          justify-content: flex-end;
          padding-right: 100px;
          @media only screen and (min-width: 1280px) and (max-width: 1380px){
            padding-right: 65px;
          }
          @media only screen and (min-width: 1000px) and (max-width: 1280px){
            padding-right: 50px;
          }
          @media only screen and (max-width: 767px){
           padding: 0;
           justify-content: center;
          }
        
        }
      }
      
      .hotline_top {
        font-size: 15px;
        font-weight: bold;
      
        a {
          color: #fff;
        }
      }
      .header-social-icons a {
        font-size: 12px;
        color: #fff;
      }
      .social-icons {
        margin-left: 8px;
        @media only screen and (max-width: 767px){
          display: none;
        }
      
        a + a {
          margin-left: 3px;
        }
      }
      .header-main {
        #logo {
          position: absolute;
          z-index: 999;
          background: #fff;
          display: block;
          top: -31px;
          padding: 14px 3px 11px 100px;
          min-height: 105px;
          width: 23%;
          @media only screen and (min-width: 1000px) and (max-width: 1280px){
            padding: 23px 3px 15px 50px;
          }
          @media only screen and (max-width: 1024px){
            padding: 38px 3px 15px 45px;
            width: 20%;
          }
          @media only screen and (max-width: 48em){
            margin-left: 20%;
            width: 61%;
            top: -37px;
            background: none !important;
          }
      
          &:after {
            content: "";
            background: url(../img/logo-shape.png) no-repeat center center;
            height: 108px;
            width: 77px;
            display: block;
            position: absolute;
            top: 0;
            right: -76px;
            @media only screen and (max-width: 48em){
              background: none !important;
            }
          }
        }
        .flex-right {
          margin-left: auto;
        }
        
        .flex-col {
          max-height: 100%;
        }
        .medium-logo-center{
          .flex-left{
            @media screen and (max-width: 849px){
              flex: 1 1 0;
              order: 1;
            }
          }
        }
        .btn_menu_mb {
          color: #019b44;
          font-size: 32px;
          padding-left: 25px;
          border: none;
          background: transparent;
          margin: 0;
          z-index: 99;
          position: relative;
      }
        .header-inner{
          padding-right: 100px;
          height: 77px;
          .nav {
            @media screen and (max-width: 849px){
              flex-wrap: nowrap;
            }
            
          }
          @media only screen and (min-width: 1280px) and (max-width: 1380px){
            padding-right: 65px;
          }
          @media only screen and (min-width: 1000px) and (max-width: 1280px){
            padding-right: 50px;
          }
        }
        .flex-row {
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          width: 100%;
         
        }
        
        .header-nav-main {
          @media only screen and (max-width: 992px){
            -webkit-overflow-scrolling: touch;
              background-color: hsla(0, 0%, 100%, .95);
              bottom: 0;
              box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
              left: 0;
              overflow-x: hidden;
              overflow-y: auto;
              position: fixed;
              top: 0;
              transform: translateX(-270px);
              transition: transform .2s;
              width: 260px;
              z-index: 1045;
          }
          &.active{
            @media only screen and (max-width: 992px){
              opacity: 1;
              transform: translate(0);
            }
          }
          > ul {
            justify-content: flex-end;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            @media only screen and (max-width: 992px){
             justify-content: flex-start;
             padding: 30px 0;
             flex-flow: column;
            }
            > li {
             
              > a {
                font-weight: 700;
                font-style: normal;
                line-height: 16px;
                color: #212121;
                letter-spacing: .02em;
                text-transform: uppercase;
                align-items: center;
                display: inline-flex;
                flex-wrap: wrap;
                padding: 10px 0;
                @media only screen and (min-width: 1380px) and (max-width: 1450px){
                  font-size: 13px;
                }
                @media only screen and (min-width: 1280px) and (max-width: 1380px){
                  font-size: 13px;
                }
                @media only screen and (min-width: 1000px) and (max-width: 1280px){
                  font-size: 12px;
                }
                @media only screen and (max-width: 992px){
                  padding-left: 20px;
                  padding-bottom: 15px;
                  padding-top: 15px;
                  color: hsla(0, 0%, 40%, .85);
                  font-weight: 500;
                  font-size: 14px;
                  align-items: center;
                  display: flex;
                  flex-grow: 1;
                  width: auto;
                }
          
                > img {
                  margin-right: 5px;
                }
                > i{
                  @media only screen and (max-width: 992px){
                    display: none;
                  }
                }
              }
          
              list-style: none;
              margin: 0 20px;
              padding: 0;
              display: inline-block;
              position: relative;
              @media only screen and (max-width: 992px){
                width: 100%;
                align-items: center;
                display: flex;
                flex-flow: row wrap;
                margin: 0;
              }
              @media only screen and (min-width: 1380px) and (max-width: 1450px){
                margin: 0 20px;
              }
              @media only screen and (min-width: 1280px) and (max-width: 1380px){
                margin: 0 10px;
              }
              @media only screen and (min-width: 1000px) and (max-width: 1280px){
                margin: 0 15px;
              }
              +li {
                @media only screen and (max-width: 992px){
                  border-top: 1px solid #ececec;
                }
              }
              .toggle{
                display: none;
                @media only screen and (max-width: 992px){
                 display: inline-block;
                 box-shadow: none!important;
                 color: currentColor;
                 height: auto;
                 line-height: 1;
                 margin: 0 5px 0 0;
                 opacity: .6;
                 padding: 0;
                 width: 45px;
                 border: none;
                 background: none;
                 outline: none;
                }
                i {
                  font-size: 28px;
                  transition: all .3s;
               }
              }
              &.header-search{
                @media only screen and (max-width: 992px){
                  display: none;
                }
                a{
                  i{
                    opacity: 1;
                  }
                }
              }
              &.active,&:hover{
                > a{
                  color: #10793d;
                }
              }
          
              i {
                font-size: 16px;
                margin-left: 3.2px;
                opacity: .6;
              }
          
              &.prant {
                @media only screen and (min-width: 1200px){
                &:after {
                  border: solid transparent;
                  bottom: -2px;
                  content: "";
                  height: 0;
                  left: 50%;
                  opacity: 0;
                  pointer-events: none;
                  position: absolute;
                  width: 0;
                  z-index: 10;
                }
          
                &:before {
                  border: solid transparent;
                  bottom: -2px;
                  content: "";
                  height: 0;
                  left: 50%;
                  opacity: 0;
                  pointer-events: none;
                  position: absolute;
                  width: 0;
                  z-index: 10;
                  border-width: 11px;
                  margin-left: -11px;
                  z-index: -999;
                  border-bottom-color: #ddd;
                }
          
                &:after {
                  border-color: hsla(0, 0%, 87%, 0) hsla(0, 0%, 87%, 0) #fff;
                  border-width: 8px;
                  margin-left: -8px;
                }
          
                &:hover {
                  &:after, &:before {
                    opacity: 1;
                    transition: opacity .25s;
                  }
                }
              }
          
                .sub-menu {
                  @media only screen and (min-width: 1200px){
                    background-color: #fff;
                    color: #777;
                    display: table;
                    left: -99999px;
                    margin: 0;
                    max-height: 0;
                    min-width: 260px;
                    opacity: 0;
                    position: absolute;
                    text-align: left;
                    transition: opacity .25s, visibility .25s;
                    visibility: hidden;
                    z-index: 9;
                    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
                    padding: 20px;
                    border: 2px solid #ddd;
                  }
                  @media only screen and (max-width: 1024px){
                    display: none;
                    background-color: rgba(0, 0, 0, .05);
                    width: 100%;
                    li{
                      width: 100%;
                      align-items: center;
                      display: flex;
                      flex-flow: row wrap;
                      margin: 0;
                      a{
                        align-items: center;
                        display: flex;
                        flex-grow: 1;
                        width: auto;
                        padding-left: 40px !important;
                        color: #000 !important;
                      }
                      .sub-menu-v2 {
                        padding-left: 20px;
                        display: none;
                      
                        li a {
                          color: #666 !important;
                        }
                      }
                      
                    }
                  }
                }
          
                &:hover .sub-menu {
                  @media only screen and (min-width: 1200px){
                    left: -15px;
                    max-height: inherit;
                    opacity: 1;
                    visibility: visible;
                  }
                
                }
          
                .sub-menu li a {
                  border-bottom: 1px solid #ececec;
                  color: hsla(0, 0%, 40%, 0.85);
                  transition: all .2s;
                  display: block;
                  line-height: 1.3;
                  padding: 10px 0;
                }
          
                &:nth-child(3) .sub-menu {
                  @media only screen and (min-width: 1200px){
                    min-width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                  }
                }
          
                .sub-menu li a:hover {
                  color: #000;
                }
          
                &:nth-child(3) {
                  @media only screen and (min-width: 1200px){
                    position: static;
                  }
          
                  &:after, &:before {
                    @media only screen and (min-width: 1200px){
                      left: 40%;
                    }
                  }
          
                  .sub-menu > li {
                    @media only screen and (min-width: 1200px){
                      max-width: 25%;
                      flex: 0 0 25%;
            
                      > a {
                        margin-bottom: 12px;
                        font-weight: bold;
                        border-bottom: indianred;
                        padding: 0;
                        color: #334862;
                      }
            
                      .sub-menu-v2 > li {
                        margin-bottom: 10px;
            
                        > a {
                          padding: 0;
                          color: #334862;
                          border: none;
            
                          &:hover {
                            color: #000;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &:last-child {
                @media only screen and (min-width: 1200px){
                  margin-right: 0;
                  &:hover .sub-menu {
                    right: -15px;
                    left: auto;
                  }
                }
              }
            }
          }
        }
        
        position: relative;
        z-index: 10;
      }
      
      .logo img {
        display: block;
        width: auto;
        transition: max-height .5s;
        max-height: 77px;
        object-fit: scale-down;
      }
      
      .searchform-wrapper form {
        margin: 0;
      
        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 0;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          color: #333;
          font-size: 14px;
          height: 38px;
          max-width: 100%;
          padding: 0 0.75em;
          transition: color .3s, border .3s, background .3s, opacity .3s;
          vertical-align: middle;
          width: 100%;
        }
      
        .flex-row {
          padding: 0 !important;
        }
      
        .ux-search-submit {
          min-width: 2.5em;
          background-color: #d26e4b;
          border-color: rgba(0, 0, 0, 0.05);
          max-width: 100%;
          padding: 0 6px;
          position: relative;
          text-align: center;
          text-decoration: none;
          text-rendering: optimizeLegibility;
          text-shadow: none;
          text-transform: uppercase;
          transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
          font-weight: bolder;
          letter-spacing: .03em;
          line-height: 2.4em;
          border: 1px solid transparent;
          height: 38px;
          color: #fff;
      
          &:hover {
            box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
            color: #fff;
            opacity: 1;
            outline: none;
          }
      
          i {
            opacity: 1 !important;
          }
        }
      }
      
  }
  .html.fixed {
    #header {
      animation: stuckMoveDown .6s;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
      position: fixed;
      top: 0;
      background: #ffffffe6;
    }
  
    .header .top-bar {
      display: none;
    }
  
    #header {
      .logo img {
        max-height: 70px;
      }
  
      .header-main #logo{
        top: -14px;
        min-height: 84px;
        @media only screen and (max-width: 1024px){
          max-height: 45px;
          padding: 20px 3px 15px 50px;
        }
        &:after {
          height: 91px;
        }
      }
    }
  }
  .open_opiton_mb.active {
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: #0b0b0b;
    opacity: .6;
    transition: opacity .25s;
    width: 100%;
    z-index: 1000;
}
  @keyframes stuckMoveDown {
    0% {
      transform: translateY(-100%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  

  @media (max-width: 849px){
    .hide-for-medium, [data-show=hide-for-medium] {
      display: none !important;
  }
  }
  @media (min-width: 850px){
    .show-for-medium, [data-show=show-for-medium] {
      display: none !important;
  }
  }
  