.breadcrumb-custom {
    background: #10793d0d;
  
    .breadcrumb {
      background: transparent;
      margin-bottom: 0;
  
      a {
        color: #334862;
        font-size: 16px;
      }
    }
  }
  